# Gradle
.gradle/
build/
!gradle-wrapper.jar
gradle-app.setting
!gradle-wrapper.properties

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
out/

# MacOS
.DS_Store

# Logs
*.log

# Environment
.env
.env.local

# Git
.git/
.gitignore
.gitattributes

# Documentation
README.md
HELP.md
docs/

# Tests
src/test/
